@model List<AppManager.Models.ProductModel>
@{

    Layout = @"~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Danh sách sản phẩm";
    int pageCount = (int)ViewBag.pageCount;
    int pageNumber = (int)ViewBag.pageNumber;
    int pageSize = (int)ViewBag.pageSize;
    int stt = pageNumber * pageSize - pageSize + 1;

    string name = ViewBag.name;
}
<h2> Trang quan ly san pham </h2>
<h2>Danh sach: @ViewBag.Account</h2>
<div>
    <form id="formSearch" action="~/admin/product/index" method="get">
        <div class="row">
            <div class="col-lg-3">
                <div class="form-inline mb-3">
                    <input type="text" name="name" value="" placeholder="nhập ký tự..." class="form-control" />
                    <button class="btn btn-primary ml-2"> Tìm kiếm </button>
                </div>
                <input type="number" id="txtPageNumber" name="pageNumber" value="1" hidden/>
            </div>
        </div>
    </form>
</div>
<table class="table table-bordered table-striped" border="1">
    <thead>
        <tr>
            <td>Stt</td>
            <td>Tên sản phẩm</td>
            <td>Slug</td>
            <td>Giá sản phẩm</td>
            <td>Giá Cũ</td>
            <td>Mô tả</td>
            <td>Nội dung tóm tắt</td>
            <td>Số lượng</td>
            <td>Nặng</td>
            <td>Đơn vị</td>           
            <td>ID danh mục</td>
            <td>Ngày tạo</td>
            <td>Ngày cập nhật</td>
            <td>Người tạo</td>
            <td>Người update</td>
            <td>Trạng thái</td>
            <td>Xóa</td>
            <td> Tools</td>
        </tr>
    </thead>
    <tbody>
        @{
            foreach(var item in Model){
                        <tr>
                            <td>@stt</td>
                            <td>@item.Name</td>
                            <td>@item.Slug</td>
                            <td>@item.Price</td>
                            <td>@item.OldPrice</td>
                            <td>@item.Description</td>
                            <td>@item.SummaryContent</td>
                            <td>@item.Quantity</td>
                            <td>@item.Weight</td>
                            <td>@item.Unit</td>
                            <td>@item.CategoryId</td>
                            <td>@item.CreatedDate</td>
                            <td>@item.UpdatedDate</td>
                            <td>@item.CreatedBy</td>
                            <td>@item.UpdatedBy</td>
                            <td>@item.Status</td>
                            <td>@item.IsDeleted</td>
                            <td>
                                <a href="~/Admin/Product/AddOrUpdate?id=@item.Id" class="btn btn-primary"> Sửa </a>
                                <a href="~/Admin/Product/Delete?id=@item.Id" class="btn btn-danger"> Xóa </a>
                            </td>
                        </tr>
                stt++;
            }
            
        }
    </tbody>
</table>
@*<div class="pagination">
    <ul class="d-flex" style="list-style: none">
        @for (int i = 1; i <= pageCount; i++)
        {
            <li class="mr-2" onclick="clickPage(@i)">@i</li>
        }      
    </ul>    
</div>*@
<nav aria-label="Page navigation example">
    <ul class="pagination">
        @for (int i = 1; i <= pageCount; i++)
        {
            <li class="page-item"><a class="page-link" onclick="clickPage(@i)">@i</a></li>
        }
    </ul>
</nav>
@section Scripts{
    <script>
        function clickPage(pageNumber){
            document.getElementById('txtPageNumber').value = pageNumber;
            document.getElementById('formSearch').submit();
        }
    </script>
}